body {
  max-width: 100%;
  margin: 0;
}

.image {
  text-align: center;
}

.logoMainpage {
  width: 200px;
}

.logo-titre {
  margin-left: 50%;
  width: 200px;
}

.homepage-header {
  text-align: center;
  box-shadow: 0 -2px 0 #d4d4d4;
  width: 100%;
  background-color: #f6f6f6;
  padding-bottom: 3em;
}
.homepage-header__position {
  text-decoration: none;
  background-color: #eaeaea;
  padding: 1em;
}
.homepage-header__position a {
  text-decoration: none;
  color: black;
}
.homepage-header .btnmenu {
  color: #f6f6f6;
  border-radius: 20px;
  background: linear-gradient(to right bottom, #f174da, #9d59dc);
  box-shadow: 0 8px 16px #f6f6f6;
  padding: 1em 2em;
}
.homepage-header p {
  padding: 1em;
  color: #616161;
}

li {
  box-shadow: 2px 2px 3px #d4d4d4;
  background-color: #f6f6f6;
  margin: 1em;
  margin-left: 0;
  padding: 1em;
  padding-left: 0;
  list-style: none;
  border-radius: 18px;
  counter-increment: li;
}
li:hover {
  background-color: #f5edff;
}
li:hover i {
  color: #9356dc;
}

h1 {
  padding-left: 0.5em;
}

li::before {
  content: counter(li);
  color: white;
  background-color: #9356dc;
  border-radius: 50%;
  padding: 0.5em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  margin-left: -0.5em;
  margin-right: 0.5em;
}

.homepage-menu i {
  margin-right: 1em;
}

.homepage-restaurant {
  background-color: #f6f6f6;
  padding-bottom: 1em;
}
.homepage-restaurant img {
  border-radius: 10% 10% 0 0;
  max-width: 100%;
  max-height: 100%;
}
.homepage-restaurant a {
  text-decoration: none;
  color: black;
}
.homepage-restaurant__image {
  box-shadow: 2px 2px 3px #d4d4d4;
  background-color: white;
  border-radius: 10%;
  padding-bottom: 1em;
}
.homepage-restaurant__image figcaption {
  padding-left: 2em;
}
.homepage-restaurant__image figcaption p {
  display: flex;
  justify-content: space-between;
}

.homepage-footer {
  color: white;
  background-color: #353535;
  padding: 0.5em;
}
.homepage-footer a {
  color: white;
  text-decoration: none;
}
.homepage-footer .logo {
  width: 100px;
  filter: invert(100%);
  margin-left: -2.5em;
}
.homepage-footer p {
  margin-top: -9px;
}

.menu-header figure {
  display: flex;
  flex-direction: row;
}
.menu-header figure a {
  padding-top: 1em;
}

.photoRestaurant {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.contain {
  position: absolute;
  width: 100%;
}

.Menu-plat {
  background-color: #f6f6f6;
  padding-left: 5px;
  margin-top: -3em;
  padding-top: 2em;
  border-radius: 45px 45px 0 0;
}
.Menu-plat h1 {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}
.Menu-plat h3 {
  padding-top: 2em;
}
.Menu-plat span {
  border-bottom: solid 3px #99e2d0;
}

.plats {
  background-color: white;
  box-shadow: -4px 4px 6px #e7e7e7;
  border-radius: 15px;
  margin: 1em;
  padding-left: 1em;
  padding-right: 2em;
  position: relative;
  overflow: hidden;
  opacity: 1;
  animation: plat 800ms both;
}
.plats:hover .box {
  animation: boxe 1s both;
}
.plats:hover .valid {
  transform: rotate(360deg);
}
.plats:hover span {
  transform: translateX(-351%);
}
.plats:hover h4 {
  width: 60%;
}
.plats:hover strong {
  width: 60%;
}
.plats1 {
  animation-delay: 200ms;
}
.plats2 {
  animation-delay: 400ms;
}
.plats3 {
  animation-delay: 600ms;
}
.plats4 {
  animation-delay: 800ms;
}
.plats5 {
  animation-delay: 1000ms;
}
.plats6 {
  animation-delay: 1200ms;
}
.plats7 {
  animation-delay: 1400ms;
}
.plats8 {
  animation-delay: 1600ms;
}
.plats9 {
  animation-delay: 1800ms;
}
.plats10 {
  animation-delay: 2000ms;
}
.plats .box {
  left: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 80px;
  background-color: #99e2d0;
  color: white;
  position: absolute;
}
.plats .box .valid {
  transition: transform 500ms 100ms ease-in-out;
}
.plats h4 {
  margin-bottom: -8px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.plats p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.plats p strong {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
}
.plats p span {
  border-bottom: none;
  font-weight: bold;
  transition: transform 750ms ease-in-out;
}

.containBtn {
  text-align: center;
}

.btn-order {
  color: #f6f6f6;
  border-radius: 20px;
  background: linear-gradient(to right bottom, #f174da, #9d59dc);
  box-shadow: 5px 8px 16px #f6f6f6;
  font-weight: bold;
  padding: 1em 6em;
  margin: 2em;
  margin-bottom: 4em;
}

figcaption {
  position: relative;
}

.heart {
  position: absolute;
  left: 90%;
  z-index: 1;
}

.fullHeart {
  left: 90%;
  position: absolute;
  color: #9356dc;
  opacity: 0;
  z-index: 2;
}
.fullHeart:hover {
  animation: fullheart 200ms both;
}

@keyframes boxe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-101%);
  }
}
@keyframes fullheart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes plat {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(-5px);
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .logo-titre {
    margin-left: 40%;
  }
}
@media (max-width: 599px) {
  .logo-titre {
    margin-left: 25%;
  }
}
@media (min-width: 1200px) {
  .homepage-restaurant__image figcaption {
    padding-left: 5em;
  }
}

/*# sourceMappingURL=omyfood.css.map */
