.btnmenu {
    color: $colour-primary;
    border-radius: 20px;
    background: linear-gradient(to right bottom, #f174da, #9d59dc);
    box-shadow: 0 8px 16px $colour-primary;
    padding: 1em 2em;   
}
.containBtn {
    text-align: center;
}
.btn-order {
    color: $colour-primary;
    border-radius: 20px;
    background: linear-gradient(to right bottom,#f174da,#9d59dc) ;
    box-shadow: 5px 8px 16px $colour-primary;
    font-weight: bold;
    padding: 1em 6em;
    margin: 2em;
    margin-bottom: 4em;
}