.btnmenu {
    color: $colour-primary;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 6px 4px $colour-shadow;
    background: linear-gradient(to right bottom, #f174da, #9d59dc);
    padding: 1em 2em;
    font-weight: bold;
    outline: none;   
}
.containBtn {
    text-align: center;
}
.btn-order {
    color: $colour-primary;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to right bottom,#f174da,#9d59dc) ;
    box-shadow: 0px 6px 4px $colour-shadow;
    font-weight: bold;
    padding: 1em 6em;
    margin: 2em;
    margin-bottom: 4em;
    outline: none;
}