@media (min-width: 1200px) {
    .homepage-restaurant{
        display: flex;
        align-items: center;
        flex-direction: column;
        &__image{
            margin: auto;
            margin-bottom: 3em;
            width: $largeWidth;
        }
    }
}
@media (min-width: 1650px) {
    .homepage-restaurant{
        display: flex;
        align-items: center;
        flex-direction: column;
        &__image{
            width: $mediumWidth;
        }
    }   
}