
$colour-primary: #f6f6f6;
$colour-secondary:#d4d4d4;
$colour-grey: #eaeaea;
$colour-footer: #353535;
$colour-list: #9356dc;
$colour-shadow: #cacaca;
$maxWidth:100%;
$smallWidth:50%;
$largeWidth:75%;
$mediumWidth:60%;