li {
    box-shadow: 4px 4px 9px $colour-shadow;
    background-color:$colour-primary ;
    margin: 1em;
    margin-left: -1em;
    padding: 1em;
    padding-left: 0;
    list-style: none;
    border-radius: 18px;
    counter-increment: li;
    & i {
        padding-left: 0.5em;
    }
    &:hover {
        background-color:#f5edff;
        & i {
        color: #9356dc;
        }
    } 
}
li::before {
    content: counter(li); color:white;
    font-size: 10px;
    background-color: $colour-list;
    border-radius: 50%;
    padding: 0.5em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    margin-left: -0.7em;
    margin-right: 0.5em;
}
.homepage-menu i {
    margin-right: 1em;
}
.homepage-restaurant {
    background-color: $colour-primary ;
    padding-top: 15px;
    padding-bottom: 1em;
    & img{
        border-radius: 5% 5% 0 0;
        max-width: $maxWidth;
        max-height: 70%;
    }
    & .new {
        width: 80px;
        height: 30px;
        background-color: #99e2d0;
        position: absolute;
        top: 5%;
        left: 70%;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #2da285;
        font-weight: bold;

    }
    & a {
        text-decoration: none;
        color: black;
    }
    &__image {
        position: relative;
        z-index: 1;
        height: 50%;
        margin-left: 1.5em;
        margin-right: 1.5em;
        box-shadow: 4px 4px 9px $colour-shadow ;
        background-color: white;
        border-radius: 5%;
        padding-bottom: 3px;
        & figcaption {
            padding-left: 1em;
            position: relative;
            & h2 {
                font-size: 17px;
                margin-bottom: 0;
            }
            & p{
                display: flex;
                justify-content:space-between;
                font-size: 15px;
                margin-top: 0;
            }
            
        }  
    }
}
.heart{ 
    position: absolute;
    bottom: 0.5em;
    left: 90%; 
     z-index: 1;
}
.fullHeart{
    bottom: 0.5em;
    left: 90%;
    position: absolute;
    color: $colour-list;
    opacity: 0;
    z-index: 2;
    &:hover{
        animation: fullheart 200ms both;
    }
}
@keyframes fullheart {
	0% {
		opacity:0;
	}
	100% {
		opacity: 1;
	}
}